html,body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/* Header */
header {
    background-color: #75f1ff;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    padding: 0 20px;
    display: inline-block;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}





/* Footer */
footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #e7e7e7;
}

footer p {
    margin: 0;
    font-size: 18px;
    color: #333;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {
    text-decoration: none;
}

footer ul li img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;
}

footer ul li img:hover {
    transform: scale(1.1);
}

